@model ProyectoIntegradorII.Models.ModelosCustom.SoliCoach

@{
    ViewData["Title"] = "RegistrarCliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>RegistrarCliente</h1>

<div style="color: white;">
    <h4>SoliCoach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCoach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCoach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoSesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoSesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadSesiones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadSesiones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
    </dl>
</div>

@section Scripts{
<script type="text/javascript">

    function openSuccessModal(strMessage){
        var myDiv = document.getElementById("MyModalSuccessAlertBody");
        myDiv.innerHTML = strMessage;
        $('#myModalSuccess').modal('show');
    }

    $(document).ready(function() {
        var msg = "@TempData["SuccessMessage"]";
        if (msg)
            openSuccessModal(msg);
    });

</script>
}
